.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

#captcha {
  font-size: 1.3rem;
}

.buttons fa-icon {
  filter: drop-shadow(0 0 5px var(--purple2));
}

.next {
  margin-left: auto;
  margin-right: auto;
}

.w1 {
  color: var(--yellow);
  text-shadow: 0 0 5px var(--yellow);
  font-style: italic;
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.w2 {
  color: var(--purple2);
  text-shadow: 0 0 5px var(--purple2);
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.w3 {
  color: var(--green);
  text-shadow: 0 0 5px var(--green);
  font-size: 1.6rem;
  font-weight: bolder;
}

.w4 {
  color: var(--yellow);
  text-shadow: 0 0 5px var(--yellow);
  font-size: 1.9rem;
}

.w5 {
  color: var(--purple2);
  text-shadow: 0 0 5px var(--purple2);
}

@media screen and (width <= 400px){
  .w1 { font-size: 1.2rem; }
  .w2 { font-size: 1.3rem; }
  .w3 { font-size: 1.5rem; }
  .w4 { font-size: 1.2rem; }
  .w5 { font-size: 1.3rem; }
}
