.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.grid {
  display: grid;
  width: calc(95vw + 8px);
  grid-template: repeat(5, 18vw) / repeat(5, 18vw);
  background-size: contain;
  background-image: "";
  border: 4px solid var(--lpurple);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 4px #ae7dfc34;
}

.grid-item {
  height: 100%;
  width: auto;
  background-color: transparent;
}

.grid-btn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: 1px solid #2d28285a;
}

.grid-btn:hover {
  border: 2px solid var(--green);
  inset: 2px;
  z-index: 4;
  box-shadow: 1px 1px 10px 3px var(--green);
}

.selected {
  border: 2px solid var(--lpurple);
  inset: 2px;
  z-index: 3;
  box-shadow: 1px 1px 10px 3px var(--purple2);
}

.grid-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container p {
  padding-bottom: 5px;
  font-size: 1em;
  text-align: left;
  justify-content: left;
}

.text-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: var(--yellow);
  text-shadow: 0 0 5px var(--yellow);
}

#animal {
  color: var(--cyan);
  text-shadow: 0 0 5px var(--cyan);
}

#square {
  color: var(--orange);
  text-shadow: 0 0 5px var(--orange);
}

@media only screen and (width >= 100px) {
  .grid {
    width: calc(95vw + 8px);
    aspect-ratio: 1;
    grid-template: repeat(5, 19vw) / repeat(5, 19vw);
  }
}

@media only screen and (width >= 200px) {
  .grid {
    width: calc(95vw + 8px);
    aspect-ratio: 1;
    grid-template: repeat(5, 19vw) / repeat(5, 19vw);
  }
}

@media only screen and (width >= 400px) {
  .grid {
    width: calc(95vw + 8px);
    aspect-ratio: 1;
    grid-template: repeat(5, 19vw) / repeat(5, 19vw);
  }

  .grid-item {
    width: 100%;
    height: 100%;
  }

  .grid-container p {
    font-size: 0.7rem;
  }
}

@media screen and (width >= 600px) {
  .grid {
    width: calc(50vw + 8px);
    grid-template: repeat(5, 10vw) / repeat(5, 10vw);
  }

  .grid-container {
    width: 90vw;
  }

  .buttons button {
    width: 8rem;
  }
}

@media screen and (width >= 800px) {
  .grid {
    width: calc(40vw + 8px);
    grid-template: repeat(5, 8vw) / repeat(5, 8vw);
  }
}

@media screen and (width >= 950px) {
  .grid {
    width: calc(20vw + 8px);
    grid-template: repeat(5, 4vw) / repeat(5, 4vw);
  }

  .grid-container {
    width: 50vw;
  }
}
