.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.buttons button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10px;
  border-radius: 10px;
  width: 6rem;
  outline: none;
  border: 1px solid gray;
  box-shadow: none;
}

.buttons button:focus,
.buttons button:hover {
  border: 1px solid azure;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  width: calc(98% + 8px);
  display: grid;
  grid-template: repeat(5, 10vw) / repeat(5, 10vw);
  background-size: contain;
  background-image: "";
  border: 4px solid #dcdcdc;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 4px rgb(255 255 255 / 20%);
  /* overflow: auto !important; */
}

.grid-item {
  height: 100%;
  width: 100%;
  background-color: transparent;
  /* overflow: auto !important; */
}

.grid-btn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: 1px solid #131121;
  /* overflow: auto !important; */
}

.grid-btn:hover {
  border: 2px solid #00ebf8;
  inset: 2px;
  z-index: 4;
}

.selected {
  border: 2px solid #00ebf8;
  inset: 2px;
  z-index: 3;
}

@media screen and (width <= 600px){
  .grid {
    width: calc(98% + 8px);
    grid-template: repeat(5,18vw) / repeat(5, 18vw);
  }

  .buttons button {
    width: 8rem;
  }
}

@media screen and (width <= 800px){
  .grid {
    grid-template: repeat(5,14vw) / repeat(5,14vw);
  }
}
