.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.next {
  margin-left: auto;
  margin-right: auto;
}

#input {
  color: var(--pink) !important;
  text-shadow: 0 0 5px var(--pink) !important;
  font-size: 1.2rem;
}
