<div class="container">
  <button>IMPORTANT
    <!-- class="captcha" (click)="executeImportantAction()" -->
    <re-captcha (resolved)="resolved($event)" siteKey="6LeuB-wnAAAAANHJqSbTOeqC-EecwHT7tPXTyJyH"></re-captcha>
  </button>
  <!-- <p>home works!</p> -->
  <!-- <div class="container-fluid py-3"> -->
  <!--   <h1>Recaptcha v3</h1> -->
  <!--   <form #form="ngForm"> -->
  <!--     <div class="col-sm-12 mb-2"> -->
  <!--       <div class="row mt-3"> -->
  <!--         <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">SEND</button> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </form> -->
  <!-- </div> -->
</div>
